html {
  font-size: 64.5%; }

body {
  padding-top: 80px !important;
  background: #f8f8f8;
  font-size: 1.4rem;
  font-family: "opensansregular", Helvetica, sans-serif; }

md-input-container.md-default-theme label,
md-input-container label,
md-input-container.md-default-theme .md-placeholder,
md-input-container .md-placeholder {
  color: #111; }

md-tabs .md-tab.md-active {
  font-weight: bold; }

@font-face {
  font-family: 'opensanslight';
  src: url("../fonts/opensans/opensans-light-webfont.eot");
  src: url("../fonts/opensans/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans/opensans-light-webfont.svg#opensanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensansregular';
  src: url("../fonts/opensans/OpenSans-Regular.eot");
  src: url("../fonts/opensans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/OpenSans-Regular.woff") format("woff"), url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Regular.svg#opensansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensanssemibold';
  src: url("../fonts/opensans/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans/opensans-semibold-webfont.svg#opensanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensansbold';
  src: url("../fonts/opensans/opensans-bold-webfont.eot");
  src: url("../fonts/opensans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans/opensans-bold-webfont.svg#opensansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
header {
  background-color: #00aeef;
  padding: 12px 0;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9; }
  header .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  header .user-account {
    max-width: 120px; }
    header .user-account md-select {
      margin: 0; }
    header .user-account .md-select-value > span:not(.md-select-icon) {
      font-size: 1.8rem; }
    header .user-account .md-select-value > span {
      color: #fff; }
  header .header-logo {
    display: flex;
    align-items: center; }
    header .header-logo .header-logo-image {
      max-width: 240px; }

.main-wrapper {
  display: flex;
  flex-direction: row; }
  @media (max-width: 767px) {
    .main-wrapper {
      flex-direction: column;
      padding-top: 10px; } }

.left-col, .right-col {
  width: 25%;
  height: 100%;
  padding: 60px 20px 0;
  display: flex;
  background: rgba(237, 249, 253, 0.9);
  height: calc(100vh - 80px); }
  @media (max-width: 767px) {
    .left-col, .right-col {
      padding: 20px 15px;
      width: 100%;
      height: 100%; } }
  @media (min-width: 1200px) {
    .left-col, .right-col {
      position: fixed;
      width: 25%;
      top: 80px; } }

@media (min-width: 1200px) {
  .left-col {
    left: 0; } }

@media (min-width: 1200px) {
  .right-col {
    right: 0; } }

.center-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
  min-height: 100%;
  padding: 60px 30px 0; }
  @media (max-width: 767px) {
    .center-col {
      width: 100%;
      padding: 20px 10px; } }
  @media (min-width: 1200px) {
    .center-col {
      margin: 0 25%; } }

.page-title {
  color: #00aeef;
  font-size: 20px;
  margin: 0px 0 35px;
  text-transform: uppercase;
  font-weight: bold; }
  @media (max-width: 767px) {
    .page-title {
      font-size: 18px;
      margin-bottom: 15px; } }

.main-card {
  width: 100%;
  padding: 20px;
  height: 100%;
  min-height: calc(100vh - 100px);
  margin: 0; }
  @media (max-width: 767px) {
    .main-card {
      min-height: 100%; } }

.ta-event-list-page .event-list {
  padding: 0;
  margin: 0;
  list-style-type: 1;
  display: flex;
  flex-direction: column; }
.ta-event-list-page .event-list-item {
  padding: 0 0 15px;
  margin: 0 0 20px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  align-items: flex-start;
  flex-direction: column; }
.ta-event-list-page .event-tool-bar {
  display: flex;
  margin: 15px 0 0;
  width: 100%; }
.ta-event-list-page .item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .ta-event-list-page .item-content .item-left-col {
    width: 80%;
    display: flex;
    flex-direction: column; }
  .ta-event-list-page .item-content .item-right-col {
    width: 20%;
    display: flex;
    align-self: flex-end;
    align-items: center;
    flex-direction: column; }
  .ta-event-list-page .item-content .time-icon {
    width: 60px;
    height: 60px;
    border: 1px solid green;
    border-radius: 50%;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    background: blue; }
  .ta-event-list-page .item-content .time-text {
    font-size: 13px;
    color: #333; }
  .ta-event-list-page .item-content .mat-line {
    margin: 0; }

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 100%; }

.event-tool-bar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%; }
  .event-tool-bar-list li {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }

.event-list-right-col {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.sub-header {
  font-size: 16px;
  color: #8dc63f;
  margin: 0 0 15px;
  text-transform: uppercase;
  position: relative; }
  .sub-header:after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    border-bottom: 1px dashed #ec008c;
    position: absolute;
    left: 0;
    bottom: 0; }

.blank-event-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #f4511e;
  box-shadow: 0px 1px 18px #f4511e;
  margin: 20px 0; }
  .blank-event-wrapper h3 {
    line-height: 4.2rem;
    width: 80%;
    text-align: center;
    margin: 0 auto; }

.event-about-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #00aeef;
  box-shadow: 0px 1px 18px #00aeef;
  margin: 20px 0; }
  .event-about-start h3 {
    line-height: 4.2rem;
    width: 80%;
    text-align: center;
    margin: 0 auto; }
  .event-about-start .event-start-timer {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #00aeef;
    background: #00aeef;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 2.4rem;
    align-items: center;
    justify-content: center; }

.qa-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%; }
  .qa-list .qa-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #d3d3d3; }
    .qa-list .qa-item:last-child {
      border-bottom: none; }
    .qa-list .qa-item .question {
      font-size: 1.5rem;
      margin-bottom: 6px;
      line-height: 19px;
      color: #111;
      font-weight: bold; }
    .qa-list .qa-item .answer {
      font-size: 13px;
      padding-left: 20px;
      color: #6f6e6e;
      line-height: 18px; }

.assets-list {
  margin: 0;
  padding: 0;
  list-style: disc;
  list-style-position: inside;
  display: flex;
  flex-direction: column; }
  .assets-list li {
    margin: 0;
    padding: 6px 0; }
    .assets-list li a {
      color: #111;
      font-size: 13px;
      font-weight: bold;
      line-height: 1.8rem;
      text-decoration: none; }
      .assets-list li a:hover, .assets-list li a:focus {
        text-decoration: underline; }

.event-left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%; }
  .event-left-col .presenter-image-wrapper {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #111;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-bottom: 10rem; }
    .event-left-col .presenter-image-wrapper img {
      display: none; }
    .event-left-col .presenter-image-wrapper h3.presenter-name-letter {
      font-size: 54px;
      color: #00aeef; }
  .event-left-col .presenter-name {
    font-size: 20px; }

/*# sourceMappingURL=style.css.map */
