


header {
	background-color:#00aeef;
	padding:12px 0;
	height:80px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	z-index:9;
	.header-wrapper {
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}
	.user-account {
		max-width:120px;		
		md-select {
			margin:0;
		}
		.md-select-value>span:not(.md-select-icon) {
			font-size:1.8rem;
		}
		.md-select-value>span {
			color:#fff;
		}
	}
	.header-logo {
		display: flex;
		align-items: center;
		.header-logo-image {
			max-width:240px;
		}
	}
}


.main-wrapper {
	//padding-top:50px;
	display: flex;
	flex-direction: row;
	@include breakpoint(xs-max) {
		flex-direction: column;
		padding-top:10px;
	}
}

.left-col,.right-col {
	width:25%;
	height:100%;
	padding:60px 20px 0;
	display: flex;
	background: rgba(237, 249, 253,0.9);
	height:calc(100vh - 80px);
	@include breakpoint(xs-max) {  
		padding:20px 15px;
		width:100%;
		height:100%;
	}
	@include breakpoint(lg) {
		position: fixed;
		width:25%;
		top:80px;
	}
}
.left-col {
	@include breakpoint(lg) {
		left:0;
	}
}
.right-col {
	@include breakpoint(lg) {
		right:0;
	}
}


.center-col {
	width:50%;
	display:flex;
	flex-direction: column;
	border:1px solid #d3d3d3;
	border-width:0 1px;
	min-height: 100%;
	padding:60px 30px 0;
	@include breakpoint(xs-max) {
		width:100%;
		padding:20px 10px;
	}
	@include breakpoint(lg) {
		margin:0 25%;
	}
}

.page-title {
	color:#00aeef;
	font-size:20px;
	margin:0px 0 35px;
	text-transform: uppercase;
	font-weight: bold;	
	@include breakpoint(xs-max) {
		font-size:18px;
		margin-bottom: 15px;
	}
}
.main-card {
	width:100%;
	padding:20px;	
	height: 100%;
	min-height: calc(100vh - 100px);
	margin: 0;
	@include breakpoint(xs-max) {
		min-height:100%;
	}
}


.ta-event-list-page {
    .event-list {
         padding:0;
         margin:0;
         list-style-type:1;
         display: flex;
         flex-direction: column;
    }
    .event-list-item {
        padding:0 0 15px;
        margin:0 0 20px;
        border-bottom:1px solid #d3d3d3;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .event-tool-bar {
        display: flex;
        margin:15px 0 0;
        width:100%;        
    }
    .item-content {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         width:100%;        
        .item-left-col {
            width:80%;
            display: flex;
            flex-direction: column;
        }
        .item-right-col {
            width:20%;
            display: flex;
            align-self: flex-end;   
            align-items: center;                  
            flex-direction: column;
        }
        .time-icon {
            width:60px;
            height:60px;
            border:1px solid green;
            border-radius: 50%;   
            font-size: 18px;
            line-height: 60px;
            color:#fff;
            text-align: center;
            background: blue;
        }
        .time-text {
            font-size:13px;
            color:#333;
        }
        .mat-line {
            margin:0;
        }
    }
 }
 md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 100%;
}
 .event-tool-bar-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin:0;
    padding:0;
    width:100%;
    li {
        width:20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}


.event-list-right-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sub-header {
	font-size:16px;
	color: #8dc63f;
	margin:0 0 15px;
	text-transform: uppercase;
	position: relative;
	&:after {
		content:"";
		display:block;
		width:60px;
		height:1px;
		border-bottom: 1px dashed #ec008c;
		position: absolute;
		left:0;
		bottom: 0;
	}
}




.blank-event-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background: #fff;
    border-radius: 15px;
    border: 1px solid rgb(244,81,30);
	box-shadow: 0px 1px 18px rgba(244, 81, 30, 1);
	margin:20px 0;
	h3 {
		line-height: 4.2rem;
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}	
}

.event-about-start {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background: #fff;
    border-radius: 15px;
	border: 1px solid #00aeef;
	box-shadow: 0px 1px 18px #00aeef;
	margin:20px 0;
	h3 {
		line-height: 4.2rem;
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}	
	.event-start-timer {
		width: 104px;
		height: 104px;
		border-radius: 50%;
		margin: 20px auto;
		text-align: center;
		border: 1px solid #00aeef;
		background: #00aeef;
		color:#fff;
		display: flex;
		flex-direction: row;
		font-size: 2.4rem;
		align-items: center;
		justify-content: center;
	}
}



.qa-list {
	margin:0;
	padding:0;
	display: flex;
	flex-direction: column;
	list-style: none;
	width:100%;
	.qa-item {
		padding-bottom:10px;
		margin-bottom: 10px;
		border-bottom:1px dashed #d3d3d3;
		&:last-child {
			border-bottom:none;
		}
		.question {
			font-size: 1.5rem;
			margin-bottom: 6px;
			line-height: 19px;
			color: #111;
			font-weight: bold;
		}
		.answer {
			font-size: 13px;
			padding-left: 20px;
			color: #6f6e6e;
			line-height: 18px;
		}
	}
}

.assets-list {
	margin:0;
	padding:0;
	list-style: disc;
	list-style-position: inside;
	display: flex;
	flex-direction: column;
	li {
		margin:0;
		padding:6px 0;
		a {
			color:#111;
			font-size:13px;
			font-weight:bold;
			line-height: 1.8rem;
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

.event-left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
	width: 100%;
	.presenter-image-wrapper {
		display: flex;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		border: 1px solid #111;
		padding: 5px;
		justify-content: center;
		align-items: center;
		background: #fff;
		margin-bottom: 10rem;
		img {
			display: none;
		}
		h3.presenter-name-letter {
			font-size: 54px;
			color: #00aeef;
		}
	}
	.presenter-name {
		font-size: 20px;
	}
}