// Variables Starts Here... 

$font-base: 'opensansregular',Helvetica,sans-serif;
$font-bold: 'opensanssemibold';



$color-black  : #000;
$color-white  : #fff;
$color-blue   : #146EA2;
$color-green  : #70C7A0;
$color-grey   : #868485;
$global-border-color : #c8c8c8;


html {
    font-size:64.5%;
}
body {
    padding-top:80px !important;
    background: #f8f8f8;
    font-size:1.4rem;
    font-family: $font-base;
}