// Variables Starts Here... 

$font-base: 'opensansregular',Helvetica,sans-serif;
$font-bold: 'opensanssemibold';



$color-black  : #000;
$color-white  : #fff;
$color-blue   : #146EA2;
$color-green  : #70C7A0;
$color-grey   : #868485;
$global-border-color : #c8c8c8;


html {
    font-size:64.5%;
}

body {
    padding-top:80px !important;
    background: #f8f8f8;
    font-size:1.4rem;
    font-family: $font-base;
}

md-input-container.md-default-theme label,
md-input-container label,
md-input-container.md-default-theme .md-placeholder, 
md-input-container .md-placeholder {
    // color: #8dc63f;
    color: #111;
}

md-tabs .md-tab.md-active {
    font-weight: bold;
}