// Variables Starts Here... 

$font-base: 'opensansregular',Helvetica,sans-serif;
$font-bold: 'opensanssemibold';



$color-black  : #000;
$color-white  : #fff;
$color-blue   : #146EA2;
$color-green  : #70C7A0;
$color-grey   : #868485;
$global-border-color : #c8c8c8;