<!-- <div class="tab-content">
	<div role="tabpanel">
		<div class="row pad-t20">
		
		<button g-login type="button">Google Login 11</button>
		<button ng-click="signout()" type="button">signout</button>

		<!-- <h4>result: {{result}}</h4> -->
		<!-- <form name="userForm" ng-submit="submitForm()" novalidate>
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label></label>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="form-group">
							<label>Username</label>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="user.name" required >
							</div>
					</div>
				</div>
				<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label></label>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="form-group">
								<label>Password</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<input type="password" class="form-control" ng-model="user.password" required >
							</div>
						</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label></label>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="form-group">
							<label></label>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<button class="btn btn-primary btn-lg btnNext pull-right"  ng-disabled="userForm.$invalid" ng-click="checkLogin()">Login</button>
						</div>
					</div>
				</div>
			</div>
		</form> -->
		<!-- </div>
	</div>
</div> --> 


<div class="login-main-wrapper">
	<div class="login-container">
		<!-- <button g-login type="button">Google Login 11</button> -->
		<h4 class="login-text">Click on the button below to login with your CoStrategix account </h4>
		<md-button  g-login type="button" class="md-raised md-primary login-btn">Google Login </md-button>
	</div>
</div>
