<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="header-wrapper">
					<div class="header-logo">
						<img src="../images" title="logo">
					</div>
					<div class="user-account">
						<md-select ng-model="weapon" placeholder="Muniraja " class="md-no-underline">
				          <md-option value="axe">Logout</md-option>				          
				        </md-select>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="main-wrapper">
	<div class="left-col">
		
	</div>
	<div class="center-col ta-event-list-page">
		<h3 class="page-title">Event lists </h3>
		<md-card class="main-card">
			<md-tabs >
				<md-tab label="Upcoming Events">
					<ul class="event-list">
						<li class="event-list-item" ng-repeat="event in events.currentEvent">
							<div class="item-content">
								<div class="item-left-col">
									<h4 mat-line>{{event.event_name}}</h4>
									<p mat-line>By<span class="presenter-name"> {{event.name}}</span>
									<p mat-line>On<span class="presenter-date"> {{event.date}}</span>
									at <span>{{event.from_time}}</span>
									</p>
								</div>
								<div class="item-right-col">
									<span class="time-icon" ng-bind="getEventToStart()">13</span>
									<span class="time-text">Hours to go</span>
								</div> 
							</div>
							<div class="event-tool-bar">
								<ul class="event-tool-bar-list">
									<li><md-button class="md-raised md-primary">Postpone</md-button></li>
									<li><md-button class="md-raised tn-cancel-btn">Cancel</md-button></li>
			                    </ul>
							</div>
						</li>
					</ul> 
				</md-tab>
				<md-tab label="Past Events">
					<md-content class="md-padding">					
						<ul class="event-list">
							<li class="event-list-item" ng-repeat="event in events.pastEvent"> 
								<div class="item-content">
									<div class="item-left-col">
										<h4 mat-line>{{event.event_name}}</h4>
										<p mat-line>By<span class="presenter-name"> {{event.name}}</span>
										<p mat-line>On<span class="presenter-date"> {{event.date}}</span>
										at <span> {{event.from_time}}</span>
										</p>
									</div>
									<div class="item-right-col">
										<span class="time-icon">12{{getEventToStart()}}</span>
										<span class="time-text">Hours to go</span>
									</div> 
									</div>
							</li>
						</ul> 
					</md-content>
				</md-tab>
		</md-card>
	</div>
	<!-- <div class="right-col">
		<div class="event-list-right-col text-center">
			<h4 class="sub-header text-center">Create a new event here</h4>
			<md-button class="md-raised md-warn">Create Event</md-button>
		</div>		
	</div> -->
</div>
	
	