<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-wrapper">
                    <div class="header-logo">
                        <img src="admin/img/tta-logo.png" class="img-responsive header-logo-image" title="logo">
                    </div>
                    <div class="user-account">
                        <md-select ng-model="weapon" placeholder="Muniraja " class="md-no-underline">
                            <md-option value="axe">Logout</md-option>				          
                        </md-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-wrapper">
    <div class="left-col">		
    </div>
    <div class="center-col ta-event-list-page" ng-controller="eventController">
        <h3 class="page-title">Poll QA </h3>
        <md-card class="main-card">
            <div class="poll-qa-wrapper">
                <ul class="poll-qa-list">
                    <li class="poll-qa-item">
                        <div class="poll-qa-item-wrapper">
                            <h4 class="poll-qa">How was the presentation ?</h4>
                            <md-radio-group ng-model="data.group1" class="poll-rating-list">
                                <md-radio-button value="1">Bad</md-radio-button>
                                <md-radio-button value="2"> Averege </md-radio-button>
                                <md-radio-button value="3">Good</md-radio-button>
                                <md-radio-button value="4">Excelent</md-radio-button>                            
                            </md-radio-group>
                        </div>
                    </li>
                    <li class="poll-qa-item">
                        <div class="poll-qa-item-wrapper">
                            <h4 class="poll-qa">Is presenter audible ?</h4>                               
                            <md-radio-group ng-model="data.group1" class="poll-rating-list">
                                <md-radio-button value="11">Bad</md-radio-button>
                                <md-radio-button value="12"> Averege </md-radio-button>
                                <md-radio-button value="13">Good</md-radio-button>
                                <md-radio-button value="14">Excelent</md-radio-button>                            
                            </md-radio-group>
                        </div>
                    </li>
                    <li class="poll-qa-item">
                        <div class="poll-qa-item-wrapper">
                            <h4 class="poll-qa">Presenter grip on knowledge ?</h4>                               
                            <md-radio-group ng-model="data.group1" class="poll-rating-list">
                                <md-radio-button value="21">Bad</md-radio-button>
                                <md-radio-button value="22"> Averege </md-radio-button>
                                <md-radio-button value="23">Good</md-radio-button>
                                <md-radio-button value="24">Excelent</md-radio-button>                            
                            </md-radio-group>
                        </div>
                    </li>
                    <li class="poll-qa-item">
                        <div class="poll-qa-item-wrapper">
                            <h4 class="poll-qa">Overview ?</h4>                               
                            <md-radio-group ng-model="data.group1" class="poll-rating-list">
                                <md-radio-button value="31">Bad</md-radio-button>
                                <md-radio-button value="32"> Averege </md-radio-button>
                                <md-radio-button value="33">Good</md-radio-button>
                                <md-radio-button value="34">Excelent</md-radio-button>                            
                            </md-radio-group>
                        </div>
                    </li>
                </ul>
                <p class="text-right">
                    <md-button class="md-raised md-primary">Send</md-button>
                </p>
            </div>
        </md-card>
    </div>
        <div class="right-col">
        <!--<div class="event-list-right-col text-center">
            <h4 class="sub-header text-center">Create a new event here</h4>
            <md-button class="md-raised md-warn">Create Event</md-button>
        </div>	 -->	
    </div>
</div>
        
        