<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="header-wrapper">
					<div class="header-logo">
						<img src="admin/img/tta-logo.png" title="logo">
					</div>
					<div class="user-account">
						<md-select ng-model="weapon" placeholder="Muniraja " class="md-no-underline">
							<md-option value="axe">Logout</md-option>				          
						</md-select>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="main-wrapper">
	<div class="left-col">			
	</div>
	<div class="center-col ta-event-list-page hide">
		<div class="blank-event">
			<div class="blank-event-wrapper">
				<h3>This event is going to start before 10 mins of a start time</h3>
			</div>
		</div>
	</div>
	<div class="right-col">					
	</div>
</div>


<div class="main-wrapper" ng-hide="presenterActive">
	<div class="left-col">			
	</div>
	<div class="center-col ta-event-list-page">				
		<div class="event-about-start">
			<div class="event-about-start-wrapper">
				<h3>This event will start in</h3>
				
				<div class="event-start-timer"
				countdownpresenter='' date="{{activeEvent.starttime}}">
				</div>
			</div>
		</div>				
	</div>
	<div class="right-col">				
	</div>
</div>


<div class="main-wrapper" ng-show="presenterActive">
	<div class="left-col">
		<div class="event-left-col">
			<div class="presenter-image-wrapper">
				<img class="img-responsive" src="../images/.jpg">
				<h3 class="presenter-name-letter">M</h3>
			</div>
			<h4 class="presenter-name">{{activeEvent.name}}</h4>
		</div>			
	</div>
	<div class="center-col ta-event-list-page">					
		<div class="after-started">
			<h3 class="page-title">{{activeEvent.event_name}}</h3>
			<md-card class="main-card">	
				<div class="ask-question-wrapper">						
					<md-input-container class="md-block">
						<label>Ask  Question here</label>
						<textarea ng-model="askQuestionContent" md-maxlength="200" rows="1" md-select-on-focus></textarea>
					</md-input-container>		
					<div class="text-right">
						<md-button class="md-raised md-primary tn-btn" ng-click="askQuestion()">Ask</md-button>									
						<md-button class="md-raised tn-cancel-btn tn-btn">Cancel</md-button>
					</div>
				</div>
				<div class="qa-wrapper">
					<h5 class="sub-header">Asked questions</h5>
					<ul class="qa-list">
						<li class="qa-item" ng-repeat="qa in eventQAs track by $index">
							<h4 class="question">{{qa.question}}</h4>
							<ul class="answers-given-list" >
								<li ng-repeat="ans in qa.answers">
									<p class="given-answer">{{ans.answer}}</p>
									<p class="name-answerd"><span class="grey-color">Answered by</span> {{ans.name}}</p>
							   </li>
							</ul>
							<!-- <div ng-repeat="ans in qa.answers">
									<hr/>
								<p class="answer">
									{{ans.answer}}
								</p>
							</div> -->
							<!-- <p class="qa-links text-right"> 
								<md-button class="md-primary">Reply</md-button>                            
							</p> -->

							<div class="answer-block">
								<md-input-container class="md-block">
									<label>Write a Answer here</label>
									<textarea ng-model="answerQuestionContent[$index]" md-maxlength="200" rows="1" md-select-on-focus></textarea>
								</md-input-container>
								<p class="text-right">		
									<md-button class="md-raised md-primary tn-btn" ng-click="answerQuestion(qa.questionId);">Send</md-button>									
									<md-button class="md-raised tn-cancel-btn tn-btn">Cancel</md-button>
								</p>   
							</div>
						</li>
					</ul>
				</div>
			</md-card>
		</div>
		<div class="event-start-timer"
		countdownreview='' date="{{activeEvent.totime}}">
		</div>
		<a href="/audience-pollqa" type="button">presenter</a>
	</div>
	<div class="right-col">	
		<div class="assets-wrapper">
			<h4 class="sub-header text-center">Uploaded Assets</h4>
			<ul class="assets-list">
				<li><a href="#">Document name</a></li>
				<li><a href="#">Document name</a></li>
			</ul>
		</div>						
	</div>
</div>
		
		